#startContainer {
    display: flex;
}
.containerRulesWidget {
    border: 2px solid black;
    width: 30vw;
    padding: 10px;
}

.selectDifficulty, .selectNbPlayers {
    height: 30px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

/* GameWidget */
.containerGameWidget {
    border: 2px solid black;
    width: 60vw;
    padding: 10px;
}

.btPlay {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    color: white;
    background-color: black;
}


/* Game */

#game {
    display: none;
}

#modalFeatures{
    display: none;
    position:absolute;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
}

.closeBt{
    height: 20px;
}

.simpleBt{
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    color: white;
    background-color: black;
}

#startBt {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

