#startContainer {
    display: flex;
}
.containerRulesWidget {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    margin: 10px;
}

.selectDifficulty, .selectNbPlayers {
    height: 30px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.block{
    background: white;
    margin: 10px;
    padding: 20px;
    width: 33vw;
    min-height: fit-content;
}

.title{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 50px;
    margin: 20px;
}

/* GameWidget */
.containerGameWidget {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    margin: 10px;
}

.btPlay {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    color: white;
    background-color: black;
}


/* Game */

#game {
    display: none;
    position: relative;
    width: 100vw;
}

#boardGame {
    display: flex;
    width: 100%;
    border: 2px solid blue;
    align-items: center;
    justify-content: center;
}

.closeBt {
    height: 20px;
}

.simpleBt {
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    color: white;
    background-color: black;
}

#helpRules{
    text-decoration: underline;
    font-style: italic;
}

#projectName {
    color:black;
    font-size: 30px;
    text-decoration: underline;
}

#startBt {
    display: none;
}

#infoStart {
    display: block;
}

.play{
    background: white;
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

#gameParameters{
    border: 2px solid black;
    padding: 20px;
}


/* Cartes */

#cards {
   display: none;
}
.card {
    height: 100px;
}